@CHARSET "ISO-8859-1";
/*
window: 805x1440
work area: 805x1422
*/

html,body,form {
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 805px;
	width: 1422px;
}

html * {
  font-family: Arial, Verdana, Tahoma, Helvetica;
  font-size: 9pt;
}

/* Page */
h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}

th {
	text-align: left;
}

th.head {
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #660000;
	color: #ffffff;
}

th.expertise {
	padding-top: 1px;
	padding-bottom: 0px;
}

th.new_expertise {
	font-align: right;
	padding-top: 1px;
	padding-bottom: 0px;
}

th.address {
	padding-top: 0px;
	padding-bottom: 0px;
}

th.label {
	padding-top: 0px;
	padding-bottom: 0px;
}

th.info {
	padding-top: 0px;
	padding-bottom: 0px;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 70px;
	width: 1422px;
	background: #660000; 
}

#menuitems {
	display: block;
	position: absolute;
	top: 0px;
	left: 50px;
	height: 35px;
	width: 1372px;
}

#menuitems a {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid grey;
	font-size: 11pt;
	text-decoration: none;
	display: block;
	height: 20px;
	width: 100px;
	cursor: hand;
	cursor: pointer;
}

#menuitems a:link {
	color: #ffffff;
}

#menuitems a:visited {
	color: #2C2E22;
}

#menuitems a:hover {
	background:  #F3F3F3;
	color: #2C2E22;
}

#menuitems a:active {
	color: #2C2E22;
}

#signout {
	position: absolute;
	color: white;
	font-weight: normal;
	text-align: right;
	font-size: 10pt;
	top: 40px;
	left: 690px;
	height: 30px;
	width: 720px;
	background: #660000; 
}

#signout a:link {
	color: #ffffff;
	font-size: 10pt;
}

#signout a:visited {
	color: #2C2E22;
}

#signout a:hover {
	background:  #F3F3F3;
	color: #2C2E22;
}

#signout a:active {
	color: #2C2E22;
}

#sidemenu {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 805px;
	width: 50px;
	background: #660000; 
}

#logo {
	position: absolute;
	bottom: 55px;
	left: 5px;
	height: 185px;
	width: 35px;
	background: #660000;
	z-index: 5;
}

#tools {
	position: absolute;
	top: 80px;
	left: 8px;
	height: 120px;
	width: 40px;
	background: #660000;
	z-index: 5;
}

#tools img {
	height: 32px; 
	width: 32px;
	cursor: hand;
	cursor: pointer;
	border: 1px solid grey; 
}

#control {
	position: absolute;
	padding-left: 10px;
	padding-top: 4px;
	top: 35px;
	left: 50px;
	height: 35px;
	width: 1372px;
	z-index: 5;
}

/* Main area page */
#main {
	position: relative;
	top: 70px;
	left: 50px;
	height: 709px;
	width: 1372px;
}

#table {
	top: 0px;
	left: 0px;
	height: 250px;
	width: 1372px;
	border: 3px solid grey;	
}

#container {
	position: absolute;
	padding: 10px;
	top: 250px;
	left: 1px;
	height: 459px;
	width: 1372px;
	/*border: 1px solid red;*/
}

#info {
	position: absolute;
	padding: 1px;
	top: 0px;
	left: 0px;
	height: 459px;
	width: 320px;
	/*border: 1px solid red;*/
}

#contacts {
	position: absolute;
	padding: 1px;
	top: 0px;
	left: 320px;
	height: 459px;
	width: 320px;
	/*border: 1px solid red;*/
}

#contacts2 {
	position: absolute;
	padding: 1px;
	top: 0px;
	left: 640px;
	height: 459px;
	width: 320px;
	/*border: 1px solid red;*/
}

#finances {
	position: absolute;
	padding: 1px;
	top: 0px;
	left: 960px;
	height: 459px;
	width: 420px;
	/*border: 1px solid red;*/
}

/* Progress bar */
#loadingZone {
	display: hide;
	position: absolute;
	top: 100px;
	left: 480px;
	height: 60px;
	width: 176px;
	z-index: 15;
	color: white;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	font-size: 20px;
	background: #000000;
	filter:alpha(opacity=50);
}

/* Footer */
#footer {
	position: absolute;
	top: 779px;
	left: 50px;
	width: 1372px;
	height: 26px;
	background: #cc9966;
	z-index:10;
}

#footer_left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 26px;
	background: #cc9966;
	z-index:11;
}
#footer_right {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 50%;
	height: 26px;
	background: #cc9966;
	z-index:11;
}

#footeritem {
	float: right;
	position: absolute;
	bottom: -3px;
	left: 150px;
	width: 500px;
	height: 20px;
	z-index:11;
}

#footer a {
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid grey;
	font-size: 10pt;
	text-decoration: none;
	display: block;
	height: 20px;
	width: 68px;
	cursor: hand;
	cursor: pointer;
}

#footer a:link {
	color: #000000;
}

#footer a:visited {
	color: #2C2E22;
}

#footer a:hover {
	background:  #F3F3F3;
	color: #2C2E22;
}

#footer a:active {
	color: #2C2E22;
}

/* Footer menu */

#footermenu {
	display: none;
	position: absolute;
	bottom: 20px;
	height: 80px;
	width: 120px;
	background: #ffffff;
	border: 1px solid black;
}

#footermenu a {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10pt;
	text-decoration: none;
	border: 0;
	height: 20px;
	width: 120px;
	cursor: hand;
	cursor: pointer;
}

#footermenu h3 {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10pt;
	background: #cc9966;
	text-decoration: bold;
	border: 0;
	height: 20px;
	width: 120px;
}

#footer a:hover {
	background:  #CCCCCC;
	color: #2C2E22;
}

#backgroundPopup{
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 805px;
	width: 1422px;
	top: 0px;
	left: 0px;
	background: #000000;
	border: 1px solid #cecece;
	filter: alpha(opacity=50);
}

#addCustomerPopupContact{
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	top: 2px;
	left: 450px;
	height: 745px;
	width: 560px;
	background: #ffffff;
	border: 4px solid black;
	z-index: 2;
	padding: 10px;
	font-size: 10px;
}

#addCustomerPopupControl {
	position: absolute;
	bottom: 5px;
	height: 20px;
	left: 0px;
	width: 550px;
}

#addCustomerPopupContent {
	position:relative;
	_position:relative;
	top:0.5%;
	left:0%;
	height:99%;
	width:100%;
  	cursor: hand;
  	cursor: pointer;
  	color: white;
}

#addCustomerPopupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#000000;
	font-weight:700;
	cursor: hand;
	cursor: pointer;
	display:block;
}

a.addCust {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid grey;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: none;
	display: block;
	height: 20px;
	width: 120px;
	cursor: hand;
	cursor: pointer;
}

a.addCust:link {
	color: #000000;
}

a.addCust:visited {
	color: #000000;
}

a.addCust:hover {
	background:  #000000;
	color: #ffffff;
}

a.addCust:active {
	color: #000000;
}

#hirePainterPopupContact{
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	top: 75px;
	left: 450px;
	height: 640px;
	width: 560px;
	background: #ffffff;
	border: 4px solid black;
	z-index: 2;
	padding: 10px;
	font-size: 10px;
}

#hirePainterPopupContent {
	position:relative;
	_position:relative;
	top:0.5%;
	left:0%;
	height:99%;
	width:100%;
  	cursor: hand;
  	cursor: pointer;
  	color: white;
}

#hirePainterPopupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#000000;
	font-weight:700;
	cursor: hand;
	cursor: pointer;
	display:block;
}

#painterTable {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 150px;
	width: 530px;
	border: 3px solid grey;
}

#hirePaintControl {
	position: absolute;
	padding-top: 2px;
	top: 150px;
	left: 0px;
	height: 300px;
	width: 530px;
}

#hiredPainterTable {
	position: absolute;
	top: 450px;
	left: 0px;
	height: 150px;
	width: 530px;
	border: 3px solid grey;
}

#hireConsultantPopupContact{
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	top: 75px;
	left: 450px;
	height: 640px;
	width: 560px;
	background: #ffffff;
	border: 4px solid black;
	z-index: 2;
	padding: 10px;
	font-size: 10px;
}

#hireConsultantPopupContent {
	position:relative;
	_position:relative;
	top:0.5%;
	left:0%;
	height:99%;
	width:100%;
  	cursor: hand;
  	cursor: pointer;
  	color: white;
}

#consultantTable {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 150px;
	width: 530px;
	border: 3px solid grey;
}

#hireConsultControl {
	position: absolute;
	top: 150px;
	left: 0px;
	height: 300px;
	width: 530px;
}

#hiredConsultantTable {
	position: absolute;
	top: 450px;
	left: 0px;
	height: 150px;
	width: 530px;
	border: 3px solid grey;
}

#hireConsultantPopupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#000000;
	font-weight:700;
	cursor: hand;
	cursor: pointer;
	display:block;
}

label.add1 {
	font-size: 8pt;
}

#add1 {
	padding: 15px;
	position: absolute;
	text-size: 12pt;
	color: black;
	left: 0px;
	top: 0px;
	height:99%;
	width:100%;
}

#add2 {
	display: none;
	padding: 15px;
	position: absolute;
	text-size: 12pt;
	color: black;
	left: 0px;
	top: 0px;
	height:99%;
	width:100%;
}

#add3 {
	display: none;
	padding: 15px;
	position: absolute;
	text-size: 12pt;
	color: black;
	left: 0px;
	top: 0px;
	height:99%;
	width:100%;
}

h3.info {
	color:#6FA5FD;
	border-bottom:1px dotted #D3D3D3;
	padding:0;
	margin:0;
}

/*outstanding popup*/
#outstandingPopupContact {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	top: 70px;
	left: 100px;
	height: 670px;
	width: 1200px;
	background: #ffffff;
	border: 4px solid black;
	z-index: 2;
	padding: 5px;
	font-size: 13px;
}

#outstandingPopupContent {
	position:relative;
	_position:relative;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
  	cursor: hand;
  	cursor: pointer;
  	color: black;
}

#outstandingTable {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 530px;
	height: 455px;
	/*border: 1px solid red;*/
}

#outstandingRepayTable {
	position: absolute;
	top: 0px;
	left: 530px;
	width: 405px;
	height: 400px;
	/*border: 1px solid red;*/
}

#outstandingRepayTable_control {
	position: absolute;
	top: 400px;
	left: 530px;
	width: 405px;
	height: 45px;
	/*border: 1px solid red;*/
}

#outstandingPayTable {
	position: absolute;
	top: 455px;
	left: 0px;
	width: 935px;
	height: 180px;
	/*border: 1px solid red;*/
}

#outstandingControl {
	position: absolute;
	top: 0px;
	left: 940px;
	width: 235px;
	height: 635px;
	border: 1px dotted black;
}

#outstandingPopupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#000000;
	font-weight:700;
	cursor: hand;
	cursor: pointer;
	display:block;
}

/*lookup popup*/
#lookupPopupContact {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	top: 70px;
	left: 100px;
	height: 670px;
	width: 1200px;
	background: #ffffff;
	border: 4px solid black;
	z-index: 2;
	padding: 5px;
	font-size: 13px;
}

#lookupPopupContent {
	position:relative;
	_position:relative;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
  	cursor: hand;
  	cursor: pointer;
  	color: black;
}

#lookupDatepick {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 495px;
	height: 220px;
}

#lookupPayment {
	position: absolute;
	top: 0px;
	left: 495px;
	width: 680px;
	height: 220px;
}

#lookupInvoice {
	position: absolute;
	top: 220px;
	left: 0px;
	width: 590px;
	height: 425px;
}

#lookupProduct {
	position: absolute;
	top: 220px;
	left: 590px;
	width: 590px;
	height: 425px;
}

#lookupPopupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#000000;
	font-weight:700;
	cursor: hand;
	cursor: pointer;
	display:block;
}

/* Debug */
#debug {
	position: absolute;
	display: none;
	z-index: 5;
	top: 70px;
	left: 50px;
	height: 400px;
	width: 380px;
	background: #000000;
	border: 3px solid #ffffff;
	filter: alpha(opacity=50);
}

/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
}

/* Debug */
#debug {
	position: absolute;
	display: none;
	z-index: 1;
	top: 70px;
	left: 0px;
	height: 400px;
	width: 380px;
	background: #000000;
	border: 3px solid #ffffff;
	filter: alpha(opacity=50);
}

#returnMessage {
	position: absolute;
	display: none;
	overflow: none;
	top: 375px;
	left: 450px;
	height: 55px;
	width: 500px;
	z-index: 5;
	border: 3px solid black;
}