@CHARSET "ISO-8859-1";

html * {
  font-family:  Arial, Verdana, Tahoma, Helvetica;
  font-size: 10pt;
}

/* this is the secret to */
/* controlling form height */

html,body,form {
  margin:0;
  padding:0;
  height:100%;
  width:100%;

}

#spec_detail1 {
	position: absolute;
	left: 10px;
	top: 0px;
	width: 560px;
	height: 250px;
	/*border: 1px solid red;*/
}

#spec_detail4 {
	position: absolute;
	left: 10px;
	top: 251px;
	width: 560px;
	height: 124px;
	/*border: 1px solid red;*/
}

#spec_detail2 {
	position: absolute;
	left: 571px;
	top: 0px;
	width: 301px;
	height: 375px;
	/*border: 1px solid red;*/
}

#spec_detail3 {
	position: absolute;
	left: 873px;
	top: 0px;
	width: 500px;
	height: 375px;
	/*border: 1px solid red;*/
}